<div class="container">
  <div class="card">
    <h3 class="title">Warrior 1</h3>
    <div class="feature">Health: <span>100</span></div>
    <div class="bar">
      <div class="emptybar"><div class="filledbar"></div></div>
    </div>
    <div class="features">
      <div class="feature">Type: <span>Light</span></div>
      <div class="feature">Weapon: <span>Sword</span></div>
      <div class="feature">Damage: <span>80</span></div>
    </div>
  </div>
  <div class="card">
    <h3 class="title">Warrior 2</h3>
    <div class="feature">Health: <span>100</span></div>
    <div class="bar">
      <div class="emptybar"><div class="filledbar"></div></div>
    </div>
    <div class="features">
      <div class="feature">Type: <span>Light</span></div>
      <div class="feature">Weapon: <span>Sword</span></div>
      <div class="feature">Damage: <span>80</span></div>
    </div>
  </div>
  <div class="card">
    <h3 class="title">Warrior 3</h3>
    <div class="feature">Health: <span>100</span></div>
    <div class="bar">
      <div class="emptybar"><div class="filledbar"></div></div>
    </div>
    <div class="features">
      <div class="feature">Type: <span>Light</span></div>
      <div class="feature">Weapon: <span>Sword</span></div>
      <div class="feature">Damage: <span>80</span></div>
    </div>
  </div>
  <div class="card">
    <h3 class="title">Warrior 4</h3>
    <div class="feature">Health: <span>100</span></div>
    <div class="bar">
      <div class="emptybar"><div class="filledbar"></div></div>
    </div>
    <div class="features">
      <div class="feature">Type: <span>Light</span></div>
      <div class="feature">Weapon: <span>Sword</span></div>
      <div class="feature">Damage: <span>80</span></div>
    </div>
  </div>
  <div class="card">
    <h3 class="title">Warrior 5</h3>
    <div class="feature">Health: <span>100</span></div>
    <div class="bar">
      <div class="emptybar"><div class="filledbar"></div></div>
    </div>
    <div class="features">
      <div class="feature">Type: <span>Light</span></div>
      <div class="feature">Weapon: <span>Sword</span></div>
      <div class="feature">Damage: <span>80</span></div>
    </div>
  </div>
  <div class="card">
    <h3 class="title">Warrior 6</h3>
    <div class="feature">Health: <span>80</span></div>
    <div class="bar">
      <div class="emptybar"><div class="filledbar"></div></div>
    </div>
    <div class="features">
      <div class="feature">Type: <span>Light</span></div>
      <div class="feature">Weapon: <span>Sword</span></div>
      <div class="feature">Damage: <span>80</span></div>
    </div>
  </div>
  <div class="card">
    <h3 class="title">Warrior 7</h3>
    <div class="feature">Health: <span>100</span></div>
    <div class="bar">
      <div class="emptybar"><div class="filledbar"></div></div>
    </div>
    <div class="features">
      <div class="feature">Type: <span>Light</span></div>
      <div class="feature">Weapon: <span>Sword</span></div>
      <div class="feature">Damage: <span>80</span></div>
    </div>
  </div>
</div>
