body {
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
